<div class="container">
	<div id="notice"><%= notice %></div>
	<div class="container">
		<div class="content">
			<div class="row">
				<div class="login-form">
					<h2>Login</h2>
					<%= form_for @user, :url => { :action => "do_login" } do |f| %>
						<fieldset>
							<div class="clearfix">
								<%= f.text_field :email, :placeholder => "E-mail" %>
							</div>
							<div class="clearfix">
								<%= f.password_field :password, :placeholder => "Password" %>
							</div>
							<%= f.submit "Login" %>
						</fieldset>
					<% end %>
				</div>
				<p class="pull-right"><%= link_to "Register", register_path %></p>
			</div>
		</div>
	</div>
</div>