<%= form_for @ticket, :html => { :class => "project_form" } do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, :length => { :minimum => 3, :maximum => 30} %><br />
	<%= f.label :description %>
	<%= f.text_area :description, :cols => 30, :rows => 20 %><br />
	<div class="form_date_option">
		<%= f.label :start_date, :cols => 22 %>
		<%= f.date_select :start_date %><br />
		<%= f.label :end_date %>
		<%= f.date_select :end_date %><br /><br />
	</div>

	<%= f.label :status %>
	<%= f.select :status_id, options_from_collection_for_select(Status.all, :id, :status_name) %><br /><br />

	<%= f.hidden_field :project_id, :value => params[:project_id] %>
	<%= f.submit %>
<% end %>