<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="logo" class="brand">Ampta</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page?(root_path) || current_page?(home_index_path) %>">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="<%= 'active' if current_page?(users_path) %>">
            <%= link_to 'All users', users_path %>
          </li>
          <li class="<%= 'active' if current_page?(projects_path) %>">
            <%= link_to 'All projects', projects_path %>
          </li>
          <li class="<%= 'active' if current_page?(new_project_path) %>">
            <%= link_to 'New project', new_project_path %>
          </li>
        </ul>
      </div>
      <span class="sign_out pull-right"><%= link_to 'Sign out', logout_path %></span>
      <span class="active_user pull-right"><%= @user_name %></span>

    </div>
  </div>
</nav>