<%= render :partial => "layouts/sidenav" %>

<div class="main pull-left">
	<h1>Project</h1>
	<p id="notice"><%= notice %></p>
	<p><%= @project.name %></p>
	<p><%= @project.description %></p>
	<p><%= @project.start_date %></p>
	<p><%= @project.end_date %></p>
</div>